/* Global Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
    text-align: center;
    padding-top: 50px;
    margin: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    color: #ff1493;
    margin-bottom: 20px; /* Added margin below heading */
}

#digit-clock {
    text-align: center;
    margin-bottom: 20px;
    color: #ff6347;
}

.form {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%; /* Set width of form */
}

.text_field,
.button,
input[type="text"],
input[type="password"],
input[type="submit"] {
    padding: 10px;
    margin: 10px;
    width: 100%; /* Adjusted width to fit container */
    border: 2px solid #87cefa;
    border-radius: 50px;
    outline: none;
    box-sizing: border-box;
}

.button,
input[type="submit"] {
    background-color: #ff1493;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover,
input[type="submit"]:hover {
    background-color: #ff6347;
}

.error-message {
    color: red;
    margin-top: 5px;
}

.login-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    background-color: salmon;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.login-link:hover {
    background-color: #ff8080; /* Lighter shade of salmon on hover */
}


a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    background-color: salmon;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #ff8080; /* Lighter shade of salmon on hover */
}